* {
    font-family: 'Poppins', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

body {
    background-image: url("https://images.unsplash.com/photo-1713107102323-00cd32c4b7df?q=80&w=2792&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-color: #788E90;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* MAIN */

#form-box {
    background-color: #EFE7DA;
    width: 45%;
    padding: 45px 35px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(50, 48, 44, .4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}